In [8]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_percentage_error

In [9]:
# 1) Загрузка
df = pd.read_csv("data_group1.csv")
df.set_index("ID", inplace=True)

In [10]:
df

,Rooms,Area_sqm,Ceiling_Height,Price_per_month,Bathrooms,Metro_Numeric,Parking_Numeric
ID,,,,,,,
273973191,3,120.0,3.00,130000.0,1,103000.000000,52201.687642
273999490,3,80.0,2.80,100000.0,1,103000.000000,48775.181754
274995950,2,30.0,2.71,120000.0,1,107142.857143,48775.181754
271265359,2,60.0,3.20,90000.0,1,103000.000000,49131.741222
273779074,2,60.0,3.60,120000.0,1,103000.000000,48775.181754
...,...,...,...,...,...,...,...
215565511,2,35.0,2.71,42000.0,1,52413.028986,48775.181754
274654844,1,38.7,2.85,45000.0,1,44965.811966,48775.181754
268679909,2,43.1,2.80,50000.0,1,44965.811966,48775.181754
274807525,2,52.5,2.65,55000.0,2,44965.811966,49131.741222
274672243,2,90.0,2.65,57000.0,1,52413.028986,48775.181754

In [11]:
target = "Price_per_month"  # название колонки с ценой
X = df.drop(columns=[target])
y = df[target]

In [12]:
# ---------- 2) Разделение на train/test ----------
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [13]:
# ---------- 3) Обучение "голой" модели ----------
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [14]:
# ---------- 4) MAPE ----------
mape_val = mean_absolute_percentage_error(y_test, y_pred) * 100
print(f"MAPE: {mape_val:.2f}%")

MAPE: 17.97%